body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: hsl(0, 0%, 0%);
  border-radius: 20px;
  font-family: "Times New Roman", Times, serif, sans-serif;
  max-width: 500px;
  overflow: hidden;
}
#display {
  width: 100%;
  height: 100%;
  padding: 60px;
  background-color: hsl(0, 0%, 20%);
  border: none;
  color: white;
  font-size: 5em;
  overflow: scroll;
}
.element {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}
.operator {
  background-color: hsl(36, 100%, 50%);
}
.operator:hover {
  background-color: hsl(36, 100%, 60%);
}
.operator:active {
  background-color: hsl(36, 100%, 70%);
}
button {
  width: 100px;
  height: 100px;
  border: 0px solid;
  border-radius: 20%;
  color: white;
  background-color: hsl(0, 0%, 10%);
  font-size: 2em;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 20%);
}
button:active {
  background-color: hsl(0, 0%, 30%);
}
